body {
  font-family: "Open Sans", sans-serif;
}

.heading {
  background-color: #3c3c3c;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

input {
  width: 75%;
}

#city-list {
  width: 22rem;
}

#city-date-icon,
#city-name,
#current-icon {
    display: flex;
    flex-direction: row;
    justify-content: center/space-around/space-between;
}

h6 {
  font-weight: bold;
}

h4 {
    margin: 5px;
}

#forecast-cards {
    display: flex;
    flex-direction: row;
    justify-content: center/space-between;
}

.forecast {
    margin: 10px;
}

*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
